---
import Layout from "../../layouts/Layout.astro";

import slugify from "../../utilities/slugify";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => data.published);
  console.log(posts)
  return posts.map((post) => {
    const parts = post.id.split("/");
    const slug = parts[parts.length - 1];
    return {
      params: {
        category: slugify(post.data.category),
        slug,
      },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
<article class="prose ">
    <h3>{post.data.category}</p>
      <hr class="dashed">
    <h1>{post.data.title}</h1>
    <time datetime={post.data.date.toISOString().slice(0, 10)}>
      {post.data.date.toISOString().slice(0, 10)}
    </time>

    <Content />
  </article>
</Layout>