---
import Layout from "../layouts/Layout.astro";
import UnderConstruction from "../components/UnderConstruction.astro";
import DiagramSection from "../components/DiagramSection.astro";
---

<Layout title="miranda mungai">
  <main class="content-container">
          <h1 id="name-title">miranda mungai</h3>
          <hr />
    <UnderConstruction />
    <div class="text-block">

      <p class="sub">
        I am a freelance documentary film curator, events producer, and
        facilitator experimenting with post-screening discussion.
      </p>
      <p class="sub">
        I source films, and facilitate discussions in response to the themes and
        ideas that emerge from the films. By mediating the world, film acts a
        starting point for discussion, offering space to reflect on and discuss
        contemporary and historical issues.
      </p>
      <p class="sub">
        The intention is simply to exercise our capacity for collective enquiry.
        The open-discussion format invites everyone to participate in a
        conversation at a time of great division, social atomisation and
        loneliness.
      </p>
      <p class="sub">
        The themes of discussions respond to a contemporary issue or struggle.
        Each concern tends to be representative of larger, more abstract issues.
        Usually they point to some factor of limitation to the conditions of
        possibility. The aim is to interrogate this limit-point and find
        contractions in seemingly steadfast systems, institutions and practices
        that make our world, and our life in it.
      </p>
      <br />
      <p class="sub">
        <b>
          If you are looking for a facilitator for a post-screening discussion,
          please get in touch.
        </b>
      </p>
    </div>

    <DiagramSection />
  </main>
</Layout>

<style>
  .text-block {
    margin-bottom: 100px;
  }
  #name-title {
    color: #ccc;
    margin-top: 15%;
  }
  .content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
</style>